In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
1 // 2

0

In [7]:
2 ** 4

16

In [8]:
3 // 2

1

In [9]:
2 + 3 * 5 + 5

22

In [10]:
(2+3) * (5+5)

50

In [11]:
4 % 4

0

In [12]:
1 % 2

1

In [13]:
5 % 2

1

In [14]:
100 % 102

100

In [15]:
8 % 2

0

In [16]:
9 % 2

1

In [17]:
var = 2

In [18]:
var

2

In [19]:
x = 2

In [20]:
y = 3

In [21]:
x + y

5

In [22]:
x = x + x

In [23]:
x

4

In [24]:
x

4

In [25]:
x = x+x

In [26]:
x

8

In [27]:
x =

SyntaxError: invalid syntax (<ipython-input-27-0f44b287cd63>, line 1)

In [28]:
12var

SyntaxError: invalid syntax (<ipython-input-28-f1ac9495ba0b>, line 1)

In [29]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-29-72e2c0241394>, line 1)

In [30]:
13c

SyntaxError: invalid syntax (<ipython-input-30-2131330375bf>, line 1)

In [31]:
!var = 2

'var' is not recognized as an internal or external command,
operable program or batch file.

In [32]:
eqwoe

NameError: name 'eqwoe' is not defined

In [33]:
name_of_var = 2

In [34]:
name_of_var

2

In [35]:
# Strings

In [36]:
' single quote '

' single quote '

In [37]:
"this is a string"

'this is a string'

In [38]:
"I can't go"

"I can't go"

In [39]:
I can't go

SyntaxError: invalid syntax (<ipython-input-39-4354e757faa7>, line 1)

In [40]:
x = 'hello'

In [41]:
x

'hello'

In [42]:
print(x)

hello

In [43]:
num = 12

In [44]:
name = 'Sam'

In [45]:
'My number is {} and my name is {}'.format(num, name)

'My number is 12 and my name is Sam'

In [46]:
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [47]:
'My number is {one} and my name is {two}'.format(one=num, two=name)

'My number is 12 and my name is Sam'

In [48]:
'My number is {} and my name is {}, more {one}'.format(num, name)

KeyError: 'one'

In [50]:
'My number is {1} and my name is {1}, more {1}'.format(1=num)

SyntaxError: keyword can't be an expression (<ipython-input-50-0a7d5785e97c>, line 1)

In [51]:
s = 'hello'

In [52]:
s[1]

'e'

In [53]:
s[0]

'h'

In [54]:
s[4]

'o'

In [55]:
s[3:4]

'l'

In [56]:
s = 'abcdefghijk'

In [57]:
s[:]

'abcdefghijk'

In [58]:
s[0:12]

'abcdefghijk'

In [59]:
s[:3]

'abc'

In [60]:
s[0:3]

'abc'

In [61]:
s[3:6]

'def'

In [62]:
[1,2,3]

[1, 2, 3]

In [63]:
['a','b','c', 4]

['a', 'b', 'c', 4]

In [64]:
my_list = ['a', 'b', 'c']

In [65]:
my_list.append

In [66]:
my_list.append('d')

In [67]:
my_list

['a', 'b', 'c', 'd']

In [68]:
my_list[0]

'a'

In [69]:
my_list[1:3]

['b', 'c']

In [70]:
my_list[0]

'a'

In [71]:
my_list[0] = "NEW"

In [72]:
my_list

['NEW', 'b', 'c', 'd']

In [73]:
nest = [1, 2, [3, 4]]

In [74]:
nest

[1, 2, [3, 4]]

In [75]:
nest[2[1]]

TypeError: 'int' object is not subscriptable

In [76]:
nest[2]

[3, 4]

In [77]:
nest[2(1)]

TypeError: 'int' object is not callable

In [78]:
nest[2][1]

4

In [79]:
nest = [1,2,3,[4,5,['target']]]

In [80]:
nest[3]

[4, 5, ['target']]

In [81]:
nest[3][2]

['target']

In [82]:
nest[3][2][0]

'target'

In [83]:
d = {'key': 'value'}

In [84]:
d = {'key': 'value', 'key2': 123}

In [85]:
d['key']

'value'

In [86]:
d['key2']

123

In [87]:
d = {'k1':[1,2,3]}

In [88]:
d

{'k1': [1, 2, 3]}

In [89]:
d['k1']

[1, 2, 3]

In [90]:
d['k1'][1]

2

In [91]:
my_list = d['k1']

In [92]:
my_list

[1, 2, 3]

In [93]:
my

NameError: name 'my' is not defined

In [94]:
my_list[0]

1

In [95]:
d = {'k1':{'innerkey':[1,2,3]}}

In [96]:
d['k1']['innerkey'][2]

3

In [97]:
True
Flase

NameError: name 'Flase' is not defined

In [98]:
True
False

False

In [99]:
True

True

In [100]:
my_list [1,2,3]

TypeError: list indices must be integers or slices, not tuple

In [101]:
t = (1,2,3)

In [102]:
t[1]

2

In [103]:
my_list = [1,2,3]

In [104]:
my_list

[1, 2, 3]

In [106]:
my_list[0] = 'new'

In [107]:
my_list

['new', 2, 3]

In [108]:
t[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [109]:
t2 = t + 'new'

TypeError: can only concatenate tuple (not "str") to tuple

In [110]:
t2 = t + tuple(1)

TypeError: 'int' object is not iterable

In [111]:
t2 = t + (2)

TypeError: can only concatenate tuple (not "int") to tuple

In [112]:
t

(1, 2, 3)

In [113]:
t2 = 4

In [114]:
t3 = (t,) + t2

TypeError: can only concatenate tuple (not "int") to tuple

In [115]:
t3 = (t2,) + t

In [116]:
t3

(4, 1, 2, 3)

In [117]:
a = (1,2,3)

In [118]:
b = (4)

In [119]:
c = a + b

TypeError: can only concatenate tuple (not "int") to tuple

In [120]:
c = (a,) + (b,)

In [121]:
c

((1, 2, 3), 4)

In [122]:
c = (a + b)

TypeError: can only concatenate tuple (not "int") to tuple

In [123]:
c = (a,) + b

TypeError: can only concatenate tuple (not "int") to tuple

In [124]:
{1,2,3}

{1, 2, 3}

In [125]:
{1,1,1,2,2,2,3,3,3,3,3}

{1, 2, 3}

In [126]:
set([1,1,1,2,22,2,2])

{1, 2, 22}

In [127]:
s = {1,2,3}

In [128]:
s.add(5)

In [129]:
s

{1, 2, 3, 5}

In [130]:
s.add(5)

In [131]:
s

{1, 2, 3, 5}

In [132]:
1 > 2

False

In [133]:
1 < 2

True

In [134]:
1 >= 2

False

In [135]:
1 <= 1

True

In [136]:
1 == 1

True

In [137]:
1 == 2

False

In [138]:
1 = 1

SyntaxError: can't assign to literal (<ipython-input-138-ecdac3dcabfd>, line 1)

In [139]:
1 != 2

True

In [140]:
'hi' == 'bye'

False

In [141]:
'hi' != "bye"

True

In [142]:
1 < 2

True

In [143]:
1 < 2 and 3 < 2

False

In [144]:
1 < 2 and 2 > 3

False

In [145]:
1 < 2 or 2 > 3

True

In [146]:
(1 < 2) and (2 > 3)

False

In [147]:
(1 < 2) or (2 > 3)

True

In [148]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [149]:
True or True

True

In [150]:
if 1 < 2:
    print('yep')

yep

In [151]:
if True:
    print('a')

a

In [152]:
if True:
    x = 2 + 2

In [153]:
x

4

In [154]:
if 1 == 2:

SyntaxError: unexpected EOF while parsing (<ipython-input-154-cd2b984d44ce>, line 1)

In [159]:
if 1 == 2:
    print("First")
elif 3 == 3:
    print("Middle")
else:
    print("Last")

Middle

In [160]:
seq = [1,2,3,4,5]

In [162]:
for num in seq:
    print(num)

1
2
3
4
5

In [163]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [165]:
for x in seq:
    print(x)

1
2
3
4
5

In [166]:
range(0,5)

range(0, 5)

In [168]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [169]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [170]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
x = [1,2,3,4]

In [172]:
out = []

In [173]:
for num in x:
    out.append(num**2)

In [174]:
out

[1, 4, 9, 16]

In [175]:
[num**2 for num in x]

[1, 4, 9, 16]

In [176]:
out = [num**2 for num in x]

In [177]:
out

[1, 4, 9, 16]

In [180]:
def my_func(name):
    print('Hello ' + name)

In [181]:
my_func('hello')

Hello hello

def my_func(name='Default name'):
    print('Hello ' + name)

In [182]:
my_func()

TypeError: my_func() missing 1 required positional argument: 'name'

In [183]:
def my_func(name='Default'):
    print('Hello ' + name)

In [184]:
my_func(name='Jose')

Hello Jose

In [185]:
my_func()

Hello Default

In [186]:
my_func

In [190]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num ** 2

In [188]:
output = square(2)

In [189]:
output

4

In [191]:
square.help()

AttributeError: 'function' object has no attribute 'help'

In [203]:
lambda var: var*2

In [199]:
times2(5)

10

In [200]:
# map()

In [201]:
seq = [1,2,3,4,5]

In [202]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [204]:
t = lambda var: var*2

In [205]:
t(6)

12

In [206]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [207]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [208]:
s = 'hello my name is Sam'

In [209]:
s.lower

In [210]:
s.lower()

'hello my name is sam'

In [211]:
s.upper()

'HELLO MY NAME IS SAM'

In [212]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [213]:
tweet = "Go Sporsts! #Sports"

In [214]:
twee.split()

NameError: name 'twee' is not defined

In [215]:
tweet.split("#")

['Go Sporsts! ', 'Sports']

In [216]:
tweet.split("#")[1]

'Sports'

In [217]:
d = {'k1': 1, 'k2': 2}

In [218]:
d.keys()

dict_keys(['k1', 'k2'])

In [219]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [220]:
dict_values()

NameError: name 'dict_values' is not defined

In [221]:
d.values()

dict_values([1, 2])

In [222]:
d.values()

dict_values([1, 2])

In [223]:
lst = [1,2,3]

In [224]:
lst.pop()

3

In [225]:
lst

[1, 2]

In [226]:
lst = [1,2,3,4,5]

In [227]:
item = lst.pop()

In [228]:
item

5

In [229]:
first = lst.pop(0)

In [230]:
lst

[2, 3, 4]

In [231]:
first

1

In [232]:
lst.append('new')

In [233]:
lst

[2, 3, 4, 'new']

In [234]:
'x' in [1,2,3]

False

In [235]:
'x' in ['x','y','z']

True

In [236]:
x = [(1,2), (3,4), (5,6)]

In [237]:
x

[(1, 2), (3, 4), (5, 6)]

In [238]:
x[0]

(1, 2)

In [239]:
x[0][1]

2

In [240]:
v, c = x[0]

In [241]:
v, c

(1, 2)

In [242]:
v

1

In [243]:
c

2

In [244]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [245]:
for (a,b) in x:
    print(b)

2
4
6

In [246]:
for a, b in x:
    print(a, b)

1 2
3 4
5 6