In [16]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [6]:
data.DataReader?

In [10]:
start=datetime.datetime(2016,3,1)
end=datetime.datetime(2016,3,10)

type(data.DataReader(name='AAPL',data_source='yahoo',start=start,end=end)) # Stock symbol for Apple

pandas.core.frame.DataFrame

In [13]:
df=data.DataReader(name='GOOG',data_source='yahoo',start=start,end=end)

In [14]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-03-01,703.619995,718.809998,699.770020,718.809998,718.809998,2151400
2016-03-02,719.000000,720.000000,712.000000,718.849976,718.849976,1629000
2016-03-03,718.679993,719.450012,706.020020,712.419983,712.419983,1956800
2016-03-04,714.989990,716.489990,706.020020,710.890015,710.890015,1972100
2016-03-07,706.900024,708.091003,686.900024,695.159973,695.159973,2985100
2016-03-08,688.590027,703.789978,685.340027,693.969971,693.969971,2076300
2016-03-09,698.469971,705.679993,694.000000,705.239990,705.239990,1421500
2016-03-10,708.119995,716.440002,703.359985,712.820007,712.820007,2829400

In [17]:
p=figure(x_axis_type='datetime', width=1000, height=300)
p.title.text="Candlestick Chart"

In [ ]:
# Incomplete